/*
        Main CSS File
*/
.alignCenter
{
    text-align: center;
}
.lowOpacity
{
    opacity: 50%;
}
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
  }
  .container
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.pointer
{
    cursor: pointer;
}
.notWhite
{
    background-color: transparent;
}
.centerVertically
{
    margin-top: auto;
    margin-bottom: auto;
}
.alignLeft
{
    margin-left: 0;
}
.alignRight
{
    margin-left: auto;
}
.backGround
{
    background-color: #0a3572;
    height: auto;
}
textarea{
    resize: none;
    width: calc(100% - 2px);
    padding: 0px;
    border-width: 1px;
}
body
{
    background-color: #fffdf9;
    font-family: Verdana, sans-serif;
}
.overlay {
    position: absolute;
    z-index: 10;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}
.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e0e0e0;
    border: 1px solid #646464;
    cursor: pointer;
}
.tooltip-popup {
    position: absolute;
    /* top: -20px;
    left: 100%; */
    top: 50%;
    left: 100%;
    transform: translate(10px, -50%);

    width: 150px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: tooltipFadeIn 0.3s;
}
.tooltip-arrow {
    position: absolute;
    top: 50%;
    left: -8px;
    /* Adjust the horizontal position of the arrow */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fff;
}
.tooltip-content {
    font-size: 14px;
    color: #333;
}
@keyframes tooltipFadeIn {
    0% {
        opacity: 0;
        background-color: transparent;
    }

    100% {
        opacity: 1;
        background-color: #fff;
    }
}

/* ID NAMES */
#submitAndConfirmLong
{
    width: 10em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    height: 1.8em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
#backButton
{
    cursor: pointer;
    position: absolute;
    margin-left: 3em;
    margin-top: 0em;
    font-size: 1em;
}
#homeImage
{
    top: 10px;
    left: 50px;
}
#navigation
{
    left: 13%;
    top: 16.5%;
}