/* 
Home.js Elements CSS File
*/

/* CLASS NAMES */
.confirmGrid
{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 15% 80% 5%;
}
.selectCells
{
    cursor: pointer;
    /* box-shadow: 0 0 15px rgb(0 0 0 / 10%); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    transition: all 0.2s;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
}
.selectGrid
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    width: 50em;
}
.selectGridSmall
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    width: 15em;
    text-align: center;
}
.confirmGrid
{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 15% 80% 5%;
}
.inputGrid
{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 72% 8% 20%;
}
/* Oasis View */
.oasisPreview {
    position: relative;
    background-color: rgba(218, 218, 218, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.3em 0.6em;
    text-align: center;
    display: inline-block;
    margin: 0.25em 0.125em;
    cursor: pointer;
    border-radius: 3px;
    width: 16em;
    height: 9.5em;
    text-decoration: none;
}
.oasisLink {
    color: white;
    text-decoration: none;
}
.oasisPreview.active {
    /* background-color: #f8eae7; */
    border: 4px solid rgba(31, 107, 236, 0.5);
}
.oasisPreview:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: rgb(182, 182, 245, 0.376);
}
.oasisPreview .content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}
.oasisPreview .content .title {
    font-size: 1.4em;
    text-decoration: underline;
    margin-bottom: 0.5em;
}
.oasisPreview .content .desc {
    text-align: left;
    margin-left: 0.5em;
    font-size: 0.9em;
    margin-bottom: 0.5em;
    color: #363636;
    padding: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(205, 205, 205, 0.376);
}
.oasisCreate {
    background-color: rgba(218, 218, 218, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: white;
    /* padding: 0.3em 0.6em; */
    text-align: center;
    display: inline-block;
    /* margin: 0.25em 0.125em; */
    cursor: pointer;
    border-radius: 3px;
    width: 2em;
    height: 2em;
    text-decoration: none;
    font-size: 1.5em;
}
.oasisCreate:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: rgb(182, 182, 245, 0.376);
}
/* Oasis Preview Context Menu: */
.openContextButton {
    display: none;
}
.oasisPreview:hover .openContextButton {
    display: inline-block;
}
.context-menu {
    position: absolute;
    /* bottom: 21%;
    right: -45%; */
    background-color: rgba(63, 147, 249, 0.737);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.context-menu-option {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.context-menu-option:hover {
    background-color: rgba(55, 103, 162, 0.737);
}

/* ID NAMES */
#submitAndConfirmLong
{
    width: 10em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    height: 1.8em;
    margin-top: auto;
    margin-bottom: auto;
}
#backButton
{
    cursor: pointer;
    position: absolute;
    margin-left: 3em;
    margin-top: 0em;
    font-size: 1em;
}