/*
Tab_oasis_ideas.js CSS file
*/

/* CLASS NAMES */
.ideaContainer {
    height: 285px;
    border: 1px solid black;
    display: flex;

    /* overflow-y: scroll; */
}
.messageContainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.singleMessage {
    /* width: 100%;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 650px;
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: min-content;
        word-wrap: break-word;
}
.singleMessage:hover .icons {
    display: flex;
}
.icons {
    display: none;
}
.messageBanner {
    display: flex;
    justify-content: space-between;
}
.icons:hover {
    background-color: aliceblue;
    cursor: pointer;
}
.icons:active {
    transition: background-color 0s ease-in-out;
    background-color: rgba(0, 0, 0, 0.376);
}
.iconDesc {
    margin: 0;
    font-weight: bold;
    color: white;
}
.iconCopy {
    margin-left: auto;
    margin-right: 0.7em;
    aspect-ratio: 1/1;
    width: 3%;
}
.iconEdit {
    margin-right: 0.5em;
    aspect-ratio: 1/1;
    width: 3%;
}
.iconTrash {
    margin-right: 0em;
    aspect-ratio: 1/1;
    width: 3%;
}

.generationOptionsMenu {
    position: relative;
}
.generationOptionsUI {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}
/* Oasis Misc:  */
.oasisError {
    color: red;
    font-weight: bold;
    font-size: 1.17em;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Oasis Title: */
.titleContainer {
    position: relative;
}
.titleText {
    cursor: pointer;
    padding: 5px;
    margin: 0;
    border: 1px solid transparent;
    transition: border-color 0.2s;
    font: 'Helvetica Neue, Arial, sans-serif';
    font-size: 1.17em
}
.titleText:hover {
    border-color: black;
}
.titleInput {
    padding: 5px;
    margin: 0;
    border: 1px solid #0a84f7;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-size: 1.17em;
    font-weight: bold;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    background-color: transparent;
    justify-content: center;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* User Settings:  */
.saveChangesBanner {
    display : flex;
    background-color:rgb(39, 110, 209);
    justify-content: center;
}
.saveChangesBanner.opening {
    height: 0;
    animation: expandAnimation 0.5s ease forwards;
}
.saveChangesBanner.closing {
    animation: collapseAnimation 0.5s ease forwards;
    animation-delay: 1.5s;
    overflow: hidden;
}
.saveChangesBanner .content {
    margin: 0.4em;
    padding: 0;
    height: 80%;
}
.saveChangesBanner button {
    margin-left: 0.4em;
    margin-right: 0em;
}
.saveChangesBanner .twoIcon-container {
    margin-top: 0.4em;
    padding: 0;
}

@keyframes expandAnimation {
    0% {
        height: 0px;
    }
    100% {
        height: 2em;
    }
}
@keyframes collapseAnimation {
    0% {
        height: 2em;
    }
    100% {
        height: 0px;
    }
}