/*
Tab_oasis_ideas.js CSS file
*/

/* CLASS NAMES */
.ideaContainer {
    height: 285px;
    border: 1px solid black;
    display: flex;

    /* overflow-y: scroll; */
}
.messageContainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.singleMessage {
    /* width: 100%;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 650px;
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: min-content;
        word-wrap: break-word;
}
.singleMessage:hover .icons {
    display: flex;
}
.icons {
    display: none;
}
.messageBanner {
    display: flex;
    justify-content: space-between;
}
.icons:hover {
    background-color: aliceblue;
    cursor: pointer;
}
.icons:active {
    transition: background-color 0s ease-in-out;
    background-color: rgba(0, 0, 0, 0.376);
}
.iconDesc {
    margin: 0;
    font-weight: bold;
    color: gray;
}
.iconCopy {
    margin-left: auto;
    margin-right: 0.7em;
    aspect-ratio: 1/1;
    width: 3%;
}
.iconEdit {
    margin-right: 0.5em;
    aspect-ratio: 1/1;
    width: 3%;
}
.iconTrash {
    margin-right: 0em;
    aspect-ratio: 1/1;
    width: 3%;
}

.generationOptionsMenu {
    position: relative;
}
.generationOptionsUI {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}