/*
Test.js CSS file
*/

/* CLASS NAMES */
.mainHeader
{
    display: grid;
    grid-template-columns: 12% 88%;
    height: 7em;
}
.mainTitle
{
    margin: 0;
}
.tablet
{
    width: 60em;
    margin-left: auto;
    margin-right: auto;
}
.threeButtons
{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}
.selectCells
{
    cursor: pointer;
    /* box-shadow: 0 0 15px rgb(0 0 0 / 10%); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    transition: all 0.2s;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
}
.dateAndTime
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.twoButtons
{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    align-content: center;
}
.debugger-popup
{
    width: 250px;
    height: 300px;
    background-color: rgba(98, 98, 98, 0.75);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    z-index: 1000;
    overflow-y: auto;
}
.debugger-popup-content *
{
    margin-bottom: 0;
}
.debugger-popup-button
{
    background-color: rgba(218, 218, 218, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);

    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}
.debugger-popup-button:active
{
    transition: background-color 0s ease-in-out;
    background-color: rgba(0, 0, 0, 0.376);
}

/* ID NAMES */
#noBackground
{
    background-color: transparent;
}
#tabInactive {
    background-color: #f8eae7;
}
#tabInactive:hover{
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 1;
}
#tabInactive:not(:hover) {
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
#tabActive
{
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    cursor: pointer;
    /* box-shadow: 0 0 15px rgb(0 0 0 / 10%); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    transition: all 0.2s;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
    background-color: #ffe0b0;
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        background-color: #f6bcaf;
    }
}
@keyframes fadeOut {
    0% {
        transform: scale(1.05);
        background-color: #f6bcaf;
    }
    100% {
        transform: scale(1);
    }
}