/*
Test.js CSS file
*/

body
{
    background-color: #f8eae7;
}

/* CLASS NAMES */
.mainHeader
{
    display: grid;
    grid-template-columns: 12% 88%;
    height: 7em;
}
.mainTitle
{
    margin: 0;
}
.tablet
{
    width: 60em;
    margin-left: auto;
    margin-right: auto;
}
.threeButtons
{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
}
.selectCells
{
    cursor: pointer;
    /* box-shadow: 0 0 15px rgb(0 0 0 / 10%); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    transition: all 0.2s;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
}
.dateAndTime
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.twoButtons
{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    align-content: center;
}
.debugger-popup
{
    width: 250px;
    height: 300px;
    background-color: rgba(98, 98, 98, 0.75);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    z-index: 1000;
    overflow-y: auto;
}
.debugger-popup-content *
{
    margin-bottom: 0;
}
.debugger-popup-button
{
    background-color: rgba(218, 218, 218, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);

    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}
.debugger-popup-button:active
{
    transition: background-color 0s ease-in-out;
    background-color: rgba(0, 0, 0, 0.376);
}
.loader {
    border: 6px solid #f3f3f3;
    /* Light grey */
    border-top: 6px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ID NAMES */
#noBackground
{
    background-color: transparent;
}
#tabInactive {
    background-color: #f8eae7;
}
#tabInactive:hover{
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 1;
}
#tabInactive:not(:hover) {
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
#tabActive
{
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    cursor: pointer;
    /* box-shadow: 0 0 15px rgb(0 0 0 / 10%); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    transition: all 0.2s;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
    background-color: #ffe0b0;
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        background-color: #f6bcaf;
    }
}
@keyframes fadeOut {
    0% {
        transform: scale(1.05);
        background-color: #f6bcaf;
    }
    100% {
        transform: scale(1);
    }
}

.introduction
{
    position: absolute;
    top: 20%;
    
    width: 100%;
    text-align: center;
    color: white;
}

.firstHeader
{
    font-size: 5em;
    animation-name: fadeInFirst;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

.secondHeader
{
    animation-name: fadeInSecond;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

.thirdHeader
{
    animation-name: fadeInThird;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes fadeInFirst {
    0% {
        opacity: 0%;
    }
    70%
    {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeInSecond {
    0% {
        opacity: 0%;
    }
    60%
    {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeInThird {
    0% {
        opacity: 0%;
    }
    50%
    {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    font-size: 1em;
    animation-name: fadeInFourth;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
  
.hover-underline-animation::after 
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after 
{
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes fadeInFourth {
    0% {
        opacity: 0%;
    }
    80%
    {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}