/*
Test.js CSS file
*/

/* CLASS NAMES */
.mainHeader
{
    display: grid;
    grid-template-columns: 12% 88%;
    height: 7em;
}
.mainTitle
{
    margin: 0;
}
.tablet
{
    width: 60em;
    margin-left: auto;
    margin-right: auto;
}
.threeButtons
{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}
.selectCells
{
    cursor: pointer;
    /* box-shadow: 0 0 15px rgb(0 0 0 / 10%); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    transition: all 0.2s;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
}
.dateAndTime
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.twoButtons
{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    align-content: center;
}

/* ID NAMES */
#noBackground
{
    background-color: transparent;
}
#tabInactive {
    background-color: #f8eae7;
}
#tabInactive:hover{
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 1;
}
#tabInactive:not(:hover) {
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
#tabActive
{
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    cursor: pointer;
    /* box-shadow: 0 0 15px rgb(0 0 0 / 10%); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    transition: all 0.2s;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
    background-color: #ffe0b0;
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        background-color: #f6bcaf;
    }
}
@keyframes fadeOut {
    0% {
        transform: scale(1.05);
        background-color: #f6bcaf;
    }
    100% {
        transform: scale(1);
    }
}